<div class="user-div">
<div class="photo">
<% if @user.photo.present? %>
  <%= image_tag @user.photo, alt: "User Photo", class: "user-photo" %>
<% else %>
  <span>No photo</span>
<% end %>
</div>
<div class="user-info">
<span class="user-name"><%= @user.name %></span>
<span class="post-count">Number of posts: <%= @user.posts_counter %></span>
</div>
</div>

<div class="wrap bio">
  <h4 class="title">Bio</h4>
  <p><%= @user.bio %></p>
</div>

<ul>
  <% @user.posts.limit(3).each do |post| %>
    <li class="post wrap list">
    <div>
      <h4 class="title list-title"><%= post.title %></h4>
      <p class="post-text"><%= post.text %></p>
    </div>
      <div class="counters">
      <p class="small">Comments: <%= post.comments_counter %></p>
      <p class="small">Likes: <%= post.likes_counter %></p>
      </div>
    </li>
  <% end %>
</ul>
<div class="see-all-wrap">
<%= link_to user_posts_path(@user) do %>
<span class="see-all">See all posts</span>
<% end %>
</div>
