<div class="user-div">
<div class="photo">
<% if @user.photo.present? %>
  <%= image_tag @user.photo, alt: "User Photo", class: "user-photo" %>
<% else %>
  <span>No photo</span>
<% end %>
</div>
<div class="user-info">
<span class="user-name"><%= @user.name %></span>
<span class="post-count">Number of posts: <%= @user.posts_counter %></span>
</div>
</div>

  <ul>
  <% @user.posts.each do |post| %>
  <a href="<%= user_post_path(@user, post) %>">
    <li class="post wrap list">
    <div>
      <h4 class="title list-title"><%= post.title %></h4>
      <p class="post-text"><%= post.text %></p>
    </div>
      <div class="counters">
      <p class="small">Comments: <%= post.comments_counter %></p>
      <p class="small">Likes: <%= post.likes_counter %></p>
      </div>

      <% if can?(:destroy, post) %>
        <% user = User.find(params[:user_id]) %>
        <%= link_to 'Delete', user_post_path(user, post), data: { turbo_method: :delete, confirm: 'Are you sure you want to delete this post?' }, class: 'delete-button' %>
      <% end %>

    </li>
    </a>

    <div class="wrap list comment">
    <% post.comments.each do |comment| %>
      <p><%= comment.author.name %>: <%= comment.text %></p>
    <% end %>
  </div>
  <% end %>
</ul>
