<div class="post wrap post-full">
    <div>
      <h4 class="title list-title post-title"><%= @post.title %> by <%= @post.author.name %></h4>
      <p class="post-text"><%= @post.text %></p>
    </div>
      <div class="counters post-counters">
      <p class="small">Comments: <%= @post.comments_counter %></p>

      <p class="small">Likes: <%= @post.likes_counter %></p>
      </div>
</div>

<div class='like-comment-wrap'>
<div>
  <%= form_with model: [@user, @post, @comment], url: user_post_comments_path(@user, @post), class: "form", local: true do |form| %>
    <div>
      <%= form.text_area :text, class: "text-area", placeholder: "Add a comment..." %>
    </div>
    <div class='comment-btn'>
      <%= form.submit "Comment", class: "see-all btn" %>
    </div>
  <% end %>
</div>

 <div>
      <%= form_with model: @like, url: user_post_likes_path(user_id: @post.author.id, post_id: @post.id), local: true do |form| %>
        <%= form.submit "Like", class: "see-all btn" %>
      <% end %>
    </div>
</div>



  <div class="wrap comment">
  <% @post.comments.each do |comment| %>
    <p>
      <%= comment.author.name %>: <%= comment.text %>
      <% if can?(:destroy, comment) %>
        <%= button_to 'Delete', user_post_comment_path(@user, @post, comment), method: :delete, data: { confirm: 'Are you sure you want to delete this comment?'}, class: 'comment-button' %>
      <% end %>
    </p>
  <% end %>
</div>
